<%- include("partials/header.ejs") -%>

<h1><%=pageTitle%></h1>
<p><%=content%></p>

<%postsArray.forEach(function(Post){%>
<h1><%=Post.title%></h1>
<p><%=Post.post%></p>
<%})%>

<%- include("partials/footer.ejs") -%>
