<%- include("partials/header.ejs") -%>

<h1><%=pageTitle%></h1>
<p><%=content%></p>

<%posts.forEach(function(Post){%>
<h1><%=Post.title%></h1>
<p >
  <%=Post.content.substring(0,100)+"..."%>
  <a href="/posts/<%=Post._id%>">Read More</a>
</p>
<%})%>

<%- include("partials/footer.ejs") -%>
